# Install NLP tools
nltk
gensim
janome
pykakasi
spacy 
ginza 
pyknp
mecab-python3
camphr[juman]

JapaneseTokenizer
DocumentFeatureSelection
neologdn
emoji

# Install other machine learning tools
lightgbm
xgboost
imbalanced-learn
mlflow
optuna

# Install data engineering tools
pyarrow
japandas
swifter
pdpipe
xfeat

# Install visualizing tools
japanize-matplotlib
adjusttext
scikit-plot
plotly
kaleido
openpyxl
pandas-profiling
sweetviz

# Install other tools
graphviz
selenium
pipreqs
cookiecutter
